<h1><%= @machine.location %> Vending Machine</h1>

<section class="machine_snacks">
  <% @machine_snacks.each do |snack| %>
    <%= snack.name %>: <%= number_to_currency(snack.price) %>
    <br>
  <% end %>
</section>
