<h1><%= @machine.location %> Vending Machine</h1>

<section class="machine_snacks">
  <% @machine_snacks.each do |snack| %>
    <%= snack.name %>: <%= number_to_currency(snack.price) %>
    <br>
  <% end %>
</section>

<section class="machine_price_average">
  <p>Average Snack Price: <%= number_to_currency(@average_snack_price) %></p>
</section>
